.navbar-brand__img {
  width: 80px;
  height: 60px;
  object-fit: contain;
}

.port-v2 figcaption .link-box {
  display: flex;
  flex-direction: column;
}

.port-v2 figcaption .link-box a {
  color: white;
  text-decoration: underline;
}

.footer-logo {
  width: 80px;
  height: 60px;
  object-fit: contain;
}